:root {
  --yellow: #fec008;
  --black: #212429;
  --green: #18a2b7;
  --title: #6c747d;
  --main: #353941;
  --nav-color: #f7f9fb;

  --body-fonts: 'Roboto', sans-serif;
  --skills: #112D4E;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #DBE2EF;
  padding-bottom: 50px;
  padding-top: 50px;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--black);
}

p {
  font-size: 1rem;
  font-weight: 400;
  color: #112D4E
}

/*---------------Header-----------*/

header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--nav-color);
  flex-wrap: wrap;
  width: 100%;
  height: 4.5rem;
}
header h1{
  margin-right: auto;
  margin-left: 0.2rem;

}
header img{
  width: 3rem;
  margin-left: 1rem;
  margin-right: 0;

}
.nav-links{
  display: flex;
  margin-right: 2rem;
  padding: .6rem;

}
.nav-links li {
  list-style: none;
  padding: 0 1rem;
}
.nav-links li a{
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--main);
}

.hamburger{
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.hamburger:focus{
  outline: none;
}

/* ----MAIN SECTION----- */
#main-section {
  display: flex;
  justify-content: space-between;
  margin: 40px auto;
  width: 40%;
  padding: 50px;
}

.avtar img {
  width: 200px;
}

.avtar h2 {
  text-align: center;
  color: var(--title);
  font-size: 1rem;
  padding: .5rem;
}

.About {
  width: 65%;
}
#about{
  transition: all 0.9s;
}
.para {
  padding-bottom: 1rem;
  text-align: left;
  line-height: 20px;
}

/* SOCIAL ICONS */
.social .btn {
  text-decoration: none;
  color: var(--nav-color);
  background-color: var(--green);
  padding: 0.4rem 0.6rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.fab {
  padding: .5rem .3rem;
  font-size: 1.5rem;
  color: #112D4E;
}

.fab:hover {
  cursor: pointer;
}

/* ------SKILLS SECTION----- */

#skills h1 {
  text-align: center;
  color: var(--skills);
  margin-bottom: 2rem;
}

#skills {
  margin-bottom: 2rem;
}

.container {
  display: flex;
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 1rem auto;
  height: 23rem;
}

.skills-container h2{
   padding-bottom: 1rem;
}

.flower {
   padding: 10px;
   text-align: center;
   background-color: var(--yellow);
   height: 20rem;
   width: 20em;
   border-radius: .8rem;
   background-image: url('Images/daisy.jpg'); /* Add this line to set the background image */
   background-size: cover; /* Optional: adjust the background size to cover the entire div */
 }

 .port-text-head {
  font-size: 1.5rem;  /* Makes the font size smaller */
  margin-top: 0.5rem;  /* Adds vertical space above the paragraph */
  margin-bottom: 0;
  color: #112D4E;
  font-weight: 800;
 }
 

 .port-text-para {
  font-size: 1rem; 
  margin-top: 0.1rem;
  margin-bottom: 0;
  color: #3F72AF;
 }

 .flex-col {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  height: 20rem;
  width: 20rem;
  margin: 10px;
  margin-bottom: 2rem;
  opacity: 0.6; /* Initial opacity (slightly transparent) */
  transition: opacity 0.2s ease;
}

.flex-col:hover {
  opacity: 1;
}

.flower-app {
  padding: 50px;
  text-align: center;
  background-color: var(--yellow);
  height: 16rem;
  width: 16rem;
  border-radius: .8rem;
  background-image: url('Images/tulip.jpg'); /* Add this line to set the background image */
  background-size: cover; /* Optional: adjust the background size to cover the entire div */
}

.bank {
  padding: 50px;
  text-align: center;
  background-color: var(--yellow);
  height: 16rem;
  width: 16rem;
  border-radius: .8rem;
  background-image: url('Images/bank.jpg'); /* Add this line to set the background image */
  background-size: cover; /* Optional: adjust the background size to cover the entire div */
}

.cirrhosis {
  padding: 50px;
  text-align: center;
  background-color: var(--yellow);
  height: 16rem;
  width: 16rem;
  border-radius: .8rem;
  background-image: url('Images/cirrhosis.jpg'); /* Add this line to set the background image */
  background-size: cover; /* Optional: adjust the background size to cover the entire div */
}


.icon {
  font-size: 3rem;
  margin-top: -50px;
  padding-bottom: 20px;
}

/*------FOOTER-------*/
#footer-container{
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 6rem;
}
#footer-container img{
  width: 2rem;
}
#footer-container p{
  padding: .5rem;
}


/*-----MEDIA QUERIES-----*/

@media screen and (max-width: 575px) {
  .hamburger{
    display: block;
    margin-right: 1rem;
  }
  header h1{
    font-size: 1rem;
    
  }
  header img{
    width: 2rem;
  }
  #nav-Ul{
    display: none;
  }
  #nav-Ul.show{
   display: flex;
   width: 100%;
  }
  .nav-links li a{
    font-size: 1rem;
  }
#about {
  transition: all 0.9s;
}
#main-section{
  flex-direction: column;
  margin: 2rem auto 2rem auto;
}
.avtar img{
  width: 230px;
  padding-left: 3rem;
}
.About{
  width: 100%;
  text-align: justify;
}
.para{
    font-size: .9rem;
    color: var(--black);
}

#skills h1 {
  margin-bottom: 8rem; 
}

.skills-container{
  flex-direction: column;
  width: 80%;
  height: 55rem;
}
.python, 
.robot, 
.html
{
width: 70%;
height: 60%;
}

.icon{
  font-size: 1.5rem;
}
.fa-robot{
  padding-top: 1.2rem;
}
}




